body {
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
}

#header {
    height: 10vh;
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}

#logo {
    text-align: left;
    color: #4fab91;
}

#blank {
    margin-left: 25vw;
    margin-right: 50vw;
}

#menu-container {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-weight: bold;
}

#menu-separation {
    margin-left: 10px;
    margin-right: 10px;
}
#main-text {
    color: white;
    display: flex;
    flex-direction: column;
}

#booking-container {
    margin: 0;
    height: 90vh;
    background-image: url("images/background.jpg");
    background-size: cover;

}

#panels-container {
    display: flex;
    justify-content: center;
    
    align-items: center;

}

.panel {
    width: 30vw;
    height: 50vh;
	margin: 5vw;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

#left-panel {
    align-items: center;
    justify-content: space-around;
}

#right-panel {
    justify-content: space-around;
    align-items: center;
}

#train-img {
    width: 150px;
    margin-bottom: -20px;
    margin-top: 10px;
}

#separation {
    padding: 2px 150px 0px 150px;
    background-color: #4fab91;
    margin: 0;
}

#search-button {
    height: 80px;
    width: 200px;
    color: white;
    background-color: #4fab91;
}